</html><!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
     	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Projeto Escola</title>
		<link rel="stylesheet" type="text/css" href="css\estilo.css">

	</head>
	<body onload='aluno()'>
		<script type="text/javascript" src="java\bootstrap.min.js"></script>
		<script type="text/javascript" src="java\jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="java\js.js"></script>
		
		

			<div id="menu" >
				<input type="checkbox" id="check">
				<label id="icone" for="check"><img src="Imagens\icone.png"></label>

				<div class="barra">
					<nav>
					<img id="aluno" src="Imagens\foto.png">
					<div id="nome"><p>Marcelo Fiats da Silva</p></div>
					<p>R.A. 0040481822028</p>
					<p>Análise e desenvolvimento de Sistema</p>
					<p>2° Semestre</p>
						<input type="checkbox" class="link">Home</div>
						<a href=""><div class="link">Consultas</div></a>
						<a href=""><div class="link">Agenda</div></a>
						<a href=""><div class="link">Solicitações</div></a>
						<a href=""><div class="link">Plano de Ensino</div></a>
						<a href=""><div class="link">Matricula</div></a>
					</nav>
				</div>
			</div>
		<div id="interface">
			<header>
				<h1>Nome da Escola</h1>
				<h2>Ensino Fundamental</h2>
				
        
			</header>
			<section id="principal">
				<article>
					
				</article>
			</section>
			<aside id="lateral">
				
			</aside>
			<aside id="lateral">
				

			</aside>

			<footer id="rodape">
				<p>Copyright &copy; 2019 - by Marcelo Fiats</p>
				<p>(19)991542927</p>
				<p><a href="https://www.facebook.com/marcelofiats.dasilva" target="_blank">Facebook</a>| <a href="https://www.linkedin.com/in/marcelo-fiats-da-silva-5b00b297/" target="_blank">LinkedIn</a></p>
			</footer>
			<script>
				
			</script>
		</div>
	</body>




</html>